<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form action="#" th:action="@{/add-student}" th:object="${student}" method="post">
        <div class="form-group">
            <label for="email">email address</label>
            <input th:field="*{email}" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="name">First Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="myfile">Attach file here</label>
            <input th:field="*{myJavaTest}" type="file" class="form-control" id="myfile" placeholder="name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>